<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Bagrote Valley Events</title>
    
</head>
<body>
     <header>
         <button class="back-button" onclick="history.back()">Back</button>
         <h1>Bagrote Valley, Events</h1>
          <nav>
           <ul>
             <li><a href="/">Home</a> </li>
           </ul>
       </nav>
         <h2>Abouts Bagrote Valley</h2>
         <p>Bagrote Valley,located in the Gilgit-Baltistan region of northern Pakistan
         ,is a hidden gem know for its stunning landscape ,rich culture and serene environment.Nestled between
         towering mountains and lush green field , this valley offers an extraordinary view if snow-capped peaks
         especially the Rakaposhi,Diran,Bilchhar Dobani and other surrounding mountains</p>
         <h2>Popular Mountains Peaks</h2>
         <p>Rakaposhi peak</p>
         <p>diran peak</p>
         <p>Bilchhar-Dobani</p>
         <h2>features of Bagrote</h2>
         <p>one of the most distinctive features of bagrote is its agricultural heritage.The valley is known
         for terraced fields and orchards where locals grow apple,apricots,walnuts,cherries,etc</p>
         <h2>History of Bagrote</h2>
         <p>The people of Bagrote are predominantly of the Burusho and shina ethnic groups they speak the
         pure shina language.They are known for their warm hospitality,traditional lifestyle and unique culture
         that has been preserved for centuries.Visitors often find a welcoming community thst is eager to share
         its history,folklore,and traditional customs</p>
         <h2>Upper Bagrote valley</h2>
         <p>mainly bagrote valley is divide into two part Bagrote and Upper Bagrote.Upper bagrote is full
         of natural beauty .Its cantain multiple meadows </p>
         <h3>List of Meadows in Upper Bagrote</h3>
         <P>Gargoo Meadow</P>
         <P>Burche Meadow</P>
         <P>Gutumi Meadow</P>
         <P>Hinarchi Meadow</P>
         <P>Bilchhar meadow</P>
         <h2>List of valley in Bagrote</h2>
         <p>Hamaran Valley</p>
         <p>Girche Valley</p>
         <p>Sinakar Valley</p>
         <p>hopey Valley</p>
         <p>Datuche Daas Valley</p>
         <p>Datucha khaas valley</p>
         <p>Farfooh Valley</p>
         <p>Bulche Valley</p>
         <p>Chiraah Valley</p>
         <h2>List of Upper Bagrote</h2>
         <p>Satt</p>
         <p>Gasunar</p>
         <p>Bajoban</p>
         <p>darr</p>
         <p>khama</p>
     </header>
     <section>
      <h2>Top Attractions in Bagrote</h2>
      
     <ul>
       <li>Hinarchi Glacier</li>
       <li>Burche Glacier</li>
       <li>Yuna Glacier</li>
       <li>Gutumi Glacier</li>
       <li>gargoo upper bagrote</li>
     </ul>
   </section>
     
     <footer>
       <p>&copy; 2024 Bagrote Valley Tourism</p>
         <p>developer@Zaigham-abbas</p>
     </footer>
</body>
</html>