<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Farfooh Bagrote Valley</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
     <header>
         <button class="back-button" onclick="history.back()">Back</button>
         <nav>
           <ul>
             <li><a href="/">Home</a> </li>
           </ul>
       </nav>
          <h1> Contacts Bagrote Valley,</h1>
          <nav>
          <h2>contact on social media</h2>
              <p>facebook: bagrote valley</p>
              <p>instagram: @bagrote_valley</p>
              <p>whatsapp: 03474336806</p>
              <p>x: bagrotevalley</p>
       </nav>
       
     </header>
     <section class="contact">
         <h2>Get in Touch</h2>
         <p>if you have any question or need to information,feel free to contact us.</p>
         <p>Email: info@farfoohvalley.com</p>
         <p>Phone: 03474336806</p>
     </section>
     <footer>
       <p>&copy; 2024 Farfooh Bagrote Valley Tourism</p>
     </footer>
</body>
</html>