<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagrote Valley Events</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
     <header>
         <button class="back-button" onclick="history.back()">Back</button>
         <h1>Bagrote Valley, Events</h1>
          <nav>
           <ul>
             <li><a href="/">Home</a> </li>
           </ul>
       </nav>
       
     </header>
     <main>
         <section>
             <h2>Upcoming Events</h2>
              <p> here a list of all the exciting events happening in bagrote valley.</p>
             <h3>Gargoo Summer Festival</h3>
             <p>Gargoo summer festival</p>
             <img src="gargoo.jpg" alt="A beautiful scenery of mountain">
             
              <h3>Nasaloo Festival</h3>
             <p>Nasaloo festival is most popular festival in bagrote </p>
             <img src="nasaloo.jpg" alt="A beautiful scenery of mountain">
             
              <h3>Bazano Festival</h3>
             <p>bazano is the ending festival of bagrote because all the works</p>
             <img src="bazano.jpg" alt="A beautiful scenery of mountain">
         </section>
     </main>
     <footer>
       <p>&copy; 2024 Bagrote Valley Tourism</p>
         <p>developer@Zaigham-abbas</p>
     </footer>
</body>
</html>